[flake8]
count = true

ignore =
    CFQ002,
    D406,
    D407,
    E226,
    S311,
    W504,


#per-file-ignores =
max-complexity = 20
max-function-length = 130
max-line-length = 130
show_source = False
statistics = False

accept-encodings = utf-8
docstring-convention = numpy